/* { border: 1px solid green;} */



.body {
    font-family: Roboto, Arial, sans-serif;
    color: white;
    flex:1;
    display: flex; flex-direction: column;
    margin: 0; padding: 0;
}


/* Header and hero */
.header, .hero {
    margin:0;
    padding:0 20% 5% 20%;
}
.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

/* Hero */
.hero {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}


.left-hero h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-hero p{
    font-size: 18px;
}

/* Common button styles */
button {
    background-color: #3882F6;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 18px 5px 18px;
}

.left-hero button{
    color: #E5E7EB;
    border: 1px solid #3882F6;
}
.right-hero {
    background-color: gray;
    height: 290px ; width: 490px;
}







/* Info */
.info {
    color: black;
    display: flex; flex-direction: column;
    align-items: center;
    margin: 50px;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

}
.box {
    display: flex; flex-direction: column;
    align-items: center;
}
.info-image {
    border: 2px solid  #3882F6;
    height: 140px; width: 140px;
    border-radius: 5px;
}








/* Quote */

.quote-wrapper {
    padding: 50px;
    height: auto;
    background-color: #E5E7EB;
}

.quote-wrapper p {
    font-size: 36px; font-style: italic;
    color: #1F2937; 
    text-align: center;
}

.quote-wrapper h4 {
    color: #1F2937;
    margin-left: 70%;
}





/* Call to action */
.coa {
    height: auto;
    padding: 40px;
}

.blue-rectangle {
    margin: 0; padding: 0;
    padding: 20px;
    background-color: #3882F6;
    display: flex; justify-content: space-around;
    border-radius: 5px;
}

.blue-rectangle .left{
    gap:10px;
}


.blue-rectangle .right {
    display: flex;
    align-items: center;
}

.blue-rectangle button{
    border: 1px solid white;
    color: #E5E7EB;
}








/* Footer */
.footer {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}